.footer-wrapper{
    padding: 220px 30px 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(216, 53%, 9%);
   .logo{
    margin: 0 0 30px 10px;
    max-width: 170px;
   }
    .location{
        .lorem {
            margin: 0 0 10px 15px;
        }
    }
    .contact{
        flex-basis: 100%;
        margin: 20px auto;
        .adress-icon{
            display: inline-block;
            margin:15px 15px 0 0 ;
        }
        
    }
.bottom-nav{
    display: flex;
    flex-wrap: wrap;
    nav{
        margin: 40px auto 20px;
        ul{
            li{
                padding-bottom: 10px;
                list-style: none;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}
.social-media-links{
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    .social-icons{
        margin: 0 5px;
        height: 20px;
    }
}
    .attribution { font-size: 11px; text-align: center; flex-basis: 100%; }
    .attribution a { color: hsl(228, 45%, 44%); }
}