.top-navigation-wrapper{
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    .logo-img{
        justify-content: flex-start;
        width: 65px;
    }
    .navigation{
        min-width: 250px;
        flex-grow: 1;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
        li{
            margin: 0 10px;
            list-style: none;
        }
        a{
            color: hsl(0, 0%, 100%);
            text-decoration: none;
            &:hover{
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}